.DS_Store
*.xcuserstate
xcuserdata/
build/
DerivedData/
.build/
Packages/
Pods/
CrashLog.txt
Debuglog.txt
Fix.md
Revolt/DebugLog.txt
notification.md
ViewState.md
MessageableChannelViewController.md
Scrolling.md
LongMessage.md
MessageLink.md
EditMessage.md
Sentry.md
ForceUnwrap.md
DiscoverServerCache.md
MessageCache.md